* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
/* outer container */
.main-container{
  position: relative;
  width: 85vw;
  height: 80vh;
  min-width: 500px;
  background-color: #2f2f2fed;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;

  padding: 23px;
}
/* Image container */
.main-images{
    height: 15.25rem;
    width: 12.5rem;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    right: 89px;

}
.images {
  height: 15.25rem;
  width: 12.5rem;
  position: absolute;
  background-color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.pic{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    object-fit: fill;
    transition: transform 1s ease;
}

.buttons {
  height: 7vh;
  width: 31vw;
  border-radius: 55px;
  background-color: #7a7a7a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;

}
.button{
  width: 100%;  
  aspect-ratio: 1/1;
  max-width:48px;
  min-width: 48px;
  display:flex;
  align-items: center;
  justify-content: center;
  border:none;
  border-radius: 50px;
  /* background-color: #a1a1a1; */
  background-color: transparent;
}
.content{
  height:9rem;
  width:34rem;
  background-color: #6c6c6c;
  position: relative;
  top: 74px;
  right: 315px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
/* Changes will come in anime rating box */
.anime-rating-box{
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px; */
  align-items: center;
}
/* To center rating no */
.rating{
  background-color: black;
}
/* To center episode no */
.episodes{
  background-color: blue;
}
.anime-rating{
  color:red;

}
.noofEpisodes{
  color:red;
}
.content-box{
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
h1{
  color:white;
}